{% extends "base.html" %}
{% load static %} 

{% block main %}
    {% load crispy_forms_tags %}
    <form method="post" class="mx-auto w-full max-w-lg my-12 px-4" novalidate>
        <!-- {{form | crispy }} -->
        <h1 class="text-center text-2xl font-bold mb-6">{{ type }}</h1>
        {% csrf_token %}
        {% for fm in form %}
            <div class="mb-4">
                {{ fm.label_tag }}
                {{ fm }}
                {% if fm.errors %}
                    <p class="text-red-600 text-sm mt-1">{{ fm.errors|striptags }}</p>
                {% endif %}
            </div>
        {% endfor %}
        {% if type == 'Update Your Profile' %}
            <div class="flex justify-center mb-4">
                <a href="{% url 'updatePass' %}">
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Your Password</button>
                </a>
            </div>
        {% endif %}
        <div class="flex justify-center">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
        </div>
    </form>
{% endblock main %}
